TextField {
    -fx-border-color: transparent transparent lightgray transparent;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-prompt-text-fill: rgb(61, 206, 21);
    -fx-text-fill: gold;
    -fx-background-radius: 15 15 0 0;
    -fx-alignment: center;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

TextField:focused {
    -fx-background-color: #E0FFFF;
}

PasswordField {
    -fx-border-color: transparent transparent lightgray transparent;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-prompt-text-fill: rgb(57, 245, 35);
    -fx-text-fill: gold;
    -fx-background-radius: 15 15 0 0;
    -fx-alignment: center;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

PasswordField:focused {
    -fx-background-color: #E0FFFF;
}

ProgressBar {
    -fx-background-color: transparent;
}

ProgressBar .bar {
    -fx-background-color: olive;
}

ProgressBar .track {
    -fx-background-color: lightgray;
}

RadioButton {
    -fx-text-fill: olive;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

RadioButton .dot {
    -fx-background-color: lightgray;
}

RadioButton:selected .dot {
    -fx-background-color: olive;
}

RadioButton:hover {
    -fx-cursor: hand;
}

ToggleButton {
    -fx-background-color: transparent;
    -fx-text-fill: olive;
    -fx-border-color: lightgray;
    -fx-border-width: 1;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

ToggleButton:selected {
    -fx-background-color: #ADD8E6;
}

ToggleButton:hover {
    -fx-cursor: hand;
    -fx-background-color: #E0FFFF;
}

Slider {
    -fx-background-color: transparent;
}

Slider .track {
    -fx-background-color: lightgray;
}

Slider .thumb {
    -fx-background-color: olive;
}

Button {
    -fx-border-color: lightgray;
    -fx-border-width: 1;
    -fx-background-color: white;
    -fx-text-fill: gold;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.check-box {
    -fx-background-color: transparent;
    -fx-padding: 10px;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

.check-box:selected {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

.check-box .box {
    -fx-background-color: white;
    -fx-border-color: #ccc;
    -fx-border-width: 2px;
    -fx-border-radius: 3px;
    -fx-padding: 5px;
}

.check-box:selected .box {
    -fx-background-color: #4CAF50;
    -fx-border-color: #4CAF50;
}

.check-box .mark {
    -fx-background-color: white;
    -fx-shape: "M1,4 L4,7 L7,1";
    -fx-scale-shape: false;
    -fx-padding: 0.5em;
}

.check-box:selected .mark {
    -fx-background-color: white;
}

.table-cell {
    -fx-text-fill: #0078d7;
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.table-row-cell:odd {
    -fx-background-color: #f0f0f0;
}

.table-row-cell:selected {
    -fx-background-color: #0078d7;
    -fx-text-fill: white;
}


Button:hover {
    -fx-cursor: hand;
    -fx-background-color: #E0FFFF;
}

Button:pressed {
    -fx-background-color: #ADD8E6;
}

.clickable {
    -fx-cursor: hand;
    -fx-underline: true;
}


Label {
    -fx-text-fill: olive;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 18px;
    -fx-font-weight: bolder;
    -fx-text-fill: red;
}

Alert {
    -fx-border-color: lightgray;
    -fx-border-width: 1;
    -fx-background-color: transparent;
    -fx-text-fill: olive;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

Image {
    -fx-border-color: transparent;
    -fx-border-width: 1;
    -fx-background-color: transparent;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
}

ImageView {
    -fx-border-color: transparent;
    -fx-border-width: 1;
    -fx-background-color: transparent;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
}

.back-ground {
    -fx-background-color: white;
}

.pause-menu {
    -fx-background-color: cornsilk;
}

.headers {
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.player2 {
    -fx-text-fill: darkorchid;
}

.player3 {
    -fx-text-fill: aqua;
}

.other-players {
    -fx-text-fill: darkgray;
}

#red-text {
    -fx-text-fill: red;
}

.bordered-image {
    -fx-border-color: yellow;
    -fx-border-width: 5;
}

.card-button {
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

.label {
    -fx-text-fill: olive;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 16px;
    -fx-font-weight: bolder;
    -fx-text-fill: red;
}

.counter {
    -fx-text-fill: olive;
    -fx-font-family: "Calibri";
    -fx-font-size: 18px;
    -fx-text-fill: #1659a4;
}